<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Register candidate</title>
    <style>
    div.a {
        font-size: 25px;
      }
      </style>
    </head>
    <body>
        <div class="a">
        <h1><u><%= title %></u></h1>
        <p><%= p %></p>
        </div>
    </body>